@font-face{font-family:'netrunner';src:url('../fonts/netrunner.eot');src:url('../fonts/netrunner.eot?#iefix') format('embedded-opentype'),url('../fonts/netrunner.woff') format('woff'),url('../fonts/netrunner.ttf') format('truetype'),url('../fonts/netrunner.svg#netrunner') format('svg');font-weight: normal;font-style: normal;}

.icon {
	font-family: 'netrunner';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin:0px 1px;
	line-height: 1;
}
.icon,
.icon-bg:before {
	font-family: 'netrunner';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-bg:before {
	width: 100%;
	height: 100%;
	font-size: 5em;
	text-align: center;
	display: block;
	position: absolute;
	line-height:4em;
	left: 0;
	opacity: 0.2;
    z-index: 0;
}
.icon-mu:before {
	content: "\e60b";
}

.icon-mu1:before {
	content: "\e600";
}

.icon-mu2:before {
	content: "\e601";
}

.icon-mu3:before {
	content: "\e602";
}

.icon-agenda:before {
	content: "\e603";
}

.icon-anarch:before {
	content: "\e604";
}

.icon-click:before {
	content: "\e605";
}

.icon-credit:before {
	content: "\e606";
}

.icon-criminal:before {
	content: "\e607";
}

.icon-haas-bioroid:before {
	content: "\e608";
}

.icon-jintekisimple:before {
	content: "\e609";
}

.icon-jinteki:before {
	content: "\e60a";
}

.icon-nbn:before {
	content: "\e60c";
}

.icon-recurring-credit:before {
	content: "\e60d";
}

.icon-rez:before {
	content: "\e60e";
}

.icon-shaper:before {
	content: "\e60f";
}

.icon-shaper-smooth:before {
	content: "\e610";
}

.icon-subroutine:before {
	content: "\e611";
}

.icon-trash:before {
	content: "\e612";
}

.icon-weyland-consortium:before {
	content: "\e613";
}

.icon-link-half-bottom:before {
	content: "\e614";
}

.icon-link-half-top:before {
	content: "\e615";
}

.icon-link:before {
	content: "\e616";
}
