<div class="row">
<div class="col-sm-2">
</div>
<div class="col-sm-8 text-center">
<ul class="pagination">
  <li>{{ first|raw }}</li>
  {% if ellipsisbefore %}<li><span>...</span></li>{% endif %}
  <li>{{ prev|raw }}</li>
  <li><span>{{ current|raw }}</span></li>
  <li>{{ next|raw }}</li>
  {% if ellipsisafter %}<li><span>...</span></li>{% endif %}
  <li>{{ last|raw }}</li>
</ul>
</div>
<div class="col-sm-2 text-right">
	<p style="margin:27px 0">{{ count }} {% trans %}cards{% endtrans %}</p>
</div>
</div>