<h3 class="section">Last 10 decklists <a href="{{ path('decklists_list', {type:'recent'}) }}" class="small">more</a></h3>
<table class="table">
	{% for decklist in decklists %}
	<tr>
	<td>
		<img src="/web/bundles/netrunnerdbcards/images/cards/en/{{ decklist.code }}.png" alt="{{ decklist.identity }}" style="width:52px">
	</td>
	<td class="decklists">
	<div>
			<a class="decklist-name" href="{{ path('decklist_detail', { 'decklist_id': decklist.id, 'decklist_name': decklist.prettyname|e('url') }) }}">{{ decklist.name }}</a>
	</div>
	<div class="small">
			<i>{{ decklist.lastpack }}</i>
	</div>
	<div class="username small">
		<a href="{{ path('user_profile_view', {user_id:decklist.user_id,user_name:decklist.username|e('url')}) }}" class="{{ decklist.usercolor }}">{{ decklist.username }}</a>
		{% if decklist.donation > 0 %}<span class="glyphicon glyphicon-gift donator" title="NetrunnerDB Gracious Donator"></span>{% endif %}
		<small class="reputation">{{ decklist.reputation }}</small>
	</div>
	<div class="small social">
		<span class="glyphicon glyphicon-heart social-icon-like"></span> {{ decklist.nbvotes }}
		<span class="glyphicon glyphicon-star social-icon-favorite"></span> {{ decklist.nbfavorites }}
		<span class="glyphicon glyphicon-comment social-icon-comment"></span> {{ decklist.nbcomments }}
	</div>
	</td>
	</tr>
	{% endfor %}
</table>